[defaults]
inventory = inventory/hosts.yml
interpreter_python = /opt/homebrew/Cellar/ansible/14.1.0/libexec/bin/python
retry_files_enabled = false
stdout_callback = default
result_format = yaml
callbacks_enabled = profile_tasks
host_key_checking = false
deprecation_warnings = false

[privilege_escalation]
become = false
